/ {
    aliases {
        pwm-fl = &pwm_fl;
        pwm-fr = &pwm_fr;
        pwm-bl = &pwm_bl;
        pwm-br = &pwm_br;
        qdec-fl = &qdec_fl;
        qdec-fr = &qdec_fr;
        qdec-bl = &qdec_bl;
        qdec-br = &qdec_br;
    };

    // описание моторов ШИМ
    pwm_fl: pwm-fl {
        compatible = "pwm-leds"; //источник ШИМ сигнала
        pwm-fl-pwm {
            pwms = <&tim1 1 1000 PWM_POLARITY_NORMAL>; // TIM1_CH1
        };
    };

    pwm_fr: pwm-fr {
        compatible = "pwm-leds";
        pwm-fr-pwm {
            pwms = <&tim1 3 1000 PWM_POLARITY_NORMAL>; // TIM1_CH3
        };
    };

    pwm_bl: pwm-bl {
        compatible = "pwm-les";
        pwm-bl-pwm {
            pwms = <&tim2 1 1000 PWM_POLARITY_NORMAL>; // TIM2_CH1
        };
    };

    pwm_br: pwm-br {
        compatible = "pwm-leds";
        pwm-br-pwm {
            pwms = <&tim17 1 1000 PWM_POLARITY_NORMAL>; //TIM17_CH1
        };
    };

    // GPIO для направления моторов
    gpio-motor-dir {
        compatible = "gpio-leds";
        in_fl_a: in-fl-a {
            gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_fl_b: in-fl-b {
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_fr_a: in-fr-a {
            gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_fr_b: in-fr-b {
            gpios = <&gpioe 11 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_bl_a: in-bl-a {
            gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_bl_b: in-bl-b {
            gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_br_a: in-br-a {
            gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
        };

        compatible = "gpio-leds";
        in_br_b: in-br-b {
            gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
        };
    };

    // энкодеры через QDEC
    qdec_fl: qdec-fl {
        compatible = "st,stm32-qdec";
        pinctrl-0 = <&qdec_fl_pins>;
        pinctrl-names = "default";
        st, encoder-mode = <2>;
        status = "okay";
    };

    qdec_fr: qdec-fr {
        compatible = "st,stm32-qdec";
        pinctrl-0 = <&qdec_fr_pins>;
        pinctrl-names = "default";
        st, encoder-mode = <2>;
        status = "okay";
    };

    qdec_bl: qdec-bl {
        compatible = "st,stm32-qdec";
        pinctrl-0 = <&qdec_bl_pins>;
        pinctrl-names = "default";
        st, encoder-mode = <2>;
        status = "okay";
    };

    qdec_br: qdec-br {
        compatible = "st,stm32-qdec";
        pinctrl-0 = <&qdec_br_pins>;
        pinctrl-names = "default";
        st, encoder-mode = <2>;
        status = "okay";
    };

    // PS2
    gpio-ps2 {
        compatible = "gpio-keys";
        ps2_dat: ps2-dat {
            gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
        };

        ps2_cmd: ps2-cmd {
            gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
        };

        ps2_sel: ps2-sel {
            gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
        };

        ps2_clk: ps2-clk {
            gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
        };
    };
};

&pinctrl {
    // приявзка пинов к функциям энкодеров
    qdec_fl_pins: qdec-fl-pins {
        pinmux = <STM32_PINMUX('B', 6, AF2)>, /*TIM4_CH1 */
                 <STM32_PINMUX('B', 7, AF2)>; /*TIM4_CH2 */
    };

    qdec_fr_pins: qdec-fr-pins {
        pinmux = <STM32_PINMUX('C', 6, AF2)>, /*TIM3_CH1 */
                 <STM32_PINMUX('C', 7, AF2)>; /*TIM3_CH2 */
    };

    qdec_bl_pins: qdec-bl-pins {
        pinmux = <STM32_PINMUX('A', 15, AF1)>, /*TIM2_CH1 */
                 <STM32_PINMUX('B', 3, AF1)>; /*TIM2_CH2 */
    };

    qdec_br_pins: qdec-br-pins {
        pinmux = <STM32_PINMUX('D', 12, AF2)>, /*TIM4_CH1 */
                 <STM32_PINMUX('D', 13, AF2)>; /*TIM4_CH2 */
    };

    // пины для ШИМ
    pwm_fl_pins: pwm-fl-pins {
        pinmux = <STM32_PINMUX('E', 9, AF1)>; /*TIM1_CH1*/
    };

    pwm_fr_pins: pwm-fr-pins {
        pinmux = <STM32_PINMUX('E', 13, AF1)>; /*TIM1_CH3*/
    };

    pwm_bl_pins: pwm-bl-pins {
        pinmux = <STM32_PINMUX('A', 0, AF1)>; /*TIM2_CH1*/
    };

    pwm_br_pins: pwm-br-pins {
        pinmux = <STM32_PINMUX('A', 7, AF14)>; /*TIM17_CH1*/
    };

    ps2_pins: ps2-pins {
        pinmux = <STM32_PINMUX('C', 8, GPIO)>, // ps2_clk
                 <STM32_PINMUX('C', 10, GPIO)>, // ps2_sel
                 <STM32_PINMUX('C', 11, GPIO)>, // ps2_dat
                 <STM32_PINMUX('C', 12, GPIO)>, // ps2_cmd
        bias-pull-up;
    };
};

&tim1 {
    status = "okay";
    pinctrl-0 = <&pwm_fl_pins &pwm_fr_pins>;
    pinctrl-names = "default";
    st,prescaler = <0>;
};

&tim2 {
    status = "okay";
    pinctrl-0 = <&pwm_bl_pins>;
    pinctrl-names = "default";
    st,prescaler = <0>;
};

&tim17 {
    status = "okay";
    pinctrl-0 = <&pwm_br_pins>;
    pinctrl-names = "default";
    st,prescaler = <0>;
};

&tim2 {
    status = "okay";
    pinctrl-0 = <&qdec_bl_pins>;
    pinctrl-names = "default";
    st,encoder-mode = <2>;
};

&tim3 {
    status = "okay";
    pinctrl-0 = <&qdec_fr_pins>;
    pinctrl-names = "default";
    st,encoder-mode = <2>;
};

&tim4 {
    status = "okay";
    pinctrl-0 = <&qdec_fl_pins>;
    pinctrl-names = "default";
    st,encoder-mode = <2>;
};

&tim5 {
    status = "okay";
    pinctrl-0 = <&qdec_br_pins>;
    pinctrl-names = "default";
    st,encoder-mode = <2>;
};