/*
 * Overlay for mecanum project on NUCLEO-L496ZG.
 *
 * Notes:
 * - Motor direction, PS2, and speed sensors are configured via GPIO API in code.
 * - PWM for TIM1/TIM2 is already enabled in board DTS (labels pwm1 and pwm2).
 * - We additionally enable TIM17 PWM on PA7 for BR motor.
 */

&{/chosen} {
    zephyr,console = &usart3;
    zephyr,shell-uart = &usart3;
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&timers17 {
    status = "okay";
    st,prescaler = <10000>;

    pwm17: pwm {
        status = "okay";
        pinctrl-0 = <&tim17_ch1_pa7>;
        pinctrl-names = "default";
    };
};
